In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
data = pd.read_csv('data/training.csv')

In [3]:
data.head(2)

   user  movie  rating  timestamp
0  6040    858       4  956703932
1  6040    593       5  956703954

In [4]:
data.describe()

                user          movie         rating     timestamp
count  800000.000000  800000.000000  800000.000000  8.000000e+05
mean     3403.097837    1849.257256       3.590479  9.683921e+08
std      1546.589028    1086.852485       1.120376  5.820931e+06
min       636.000000       1.000000       1.000000  9.567039e+08
25%      2035.000000    1028.000000       3.000000  9.641524e+08
50%      3507.000000    1788.000000       4.000000  9.675878e+08
75%      4695.000000    2750.000000       4.000000  9.746878e+08
max      6040.000000    3952.000000       5.000000  9.757673e+08

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 4 columns):
user         800000 non-null int64
movie        800000 non-null int64
rating       800000 non-null int64
timestamp    800000 non-null int64
dtypes: int64(4)
memory usage: 24.4 MB

In [6]:
data.user.value_counts()

1680    1849
889     1518
4169    1440
4277    1407
3618    1344
1941    1305
1150    1298
5795    1272
4344    1271
4510    1240
4227    1222
3841    1216
4508    1164
3808    1158
5367    1135
3539    1078
5831    1054
2063    1053
3224    1034
3032    1019
5643    1015
4064    1009
2909    1008
4725    1006
5954    1000
4447     982
1285     978
1181     970
1980     963
1880     955
        ...
1256       6
755        6
1715       6
3532       6
1092       6
2775       6
1539       6
973        6
2057       5
750        5
5998       5
5291       5
1463       5
5484       5
918        5
4744       5
4610       5
4467       5
1447       5
827        5
4418       5
1547       5
988        4
1551       4
3459       4
1779       4
4273       3
3288       3
3326       2
3038       2
Name: user, Length: 5399, dtype: int64

In [7]:
data.movie.value_counts()

2858    2901
1196    2516
260     2515
1210    2456
589     2284
2028    2245
480     2232
1270    2183
2571    2172
1580    2156
593     2151
608     2144
1198    2110
110     2081
2762    2024
2396    1995
1197    1947
527     1934
1617    1929
1097    1910
2628    1902
2997    1899
1265    1882
858     1873
318     1845
2716    1834
356     1818
296     1803
1240    1770
1       1749
        ...
1709       1
684        1
3376       1
3377       1
642        1
2742       1
3779       1
641        1
834        1
706        1
3904       1
607        1
3651       1
2308       1
579        1
1852       1
127        1
1630       1
1851       1
1118       1
827        1
3899       1
1724       1
2235       1
2584       1
1134       1
3382       1
3607       1
1558       1
1908       1
Name: movie, Length: 3662, dtype: int64

In [8]:
data.timestamp = pd.to_datetime(data.timestamp)

In [9]:
data.timestamp[2000]

Timestamp('1970-01-01 00:00:00.956731215')

In [16]:
data[data.rating == 5]

        user  movie  rating                     timestamp
1       6040    593       5 1970-01-01 00:00:00.956703954
4       6040   2019       5 1970-01-01 00:00:00.956703977
7       6040   3111       5 1970-01-01 00:00:00.956704056
8       6040    213       5 1970-01-01 00:00:00.956704056
11      6040    912       5 1970-01-01 00:00:00.956704191
12      6040    919       5 1970-01-01 00:00:00.956704191
13      6040   2503       5 1970-01-01 00:00:00.956704191
14      6040    527       5 1970-01-01 00:00:00.956704219
16      6040   1252       5 1970-01-01 00:00:00.956704257
17      6040    649       5 1970-01-01 00:00:00.956704257
18      6040   3289       5 1970-01-01 00:00:00.956704305
19      6040    759       5 1970-01-01 00:00:00.956704448
23      6040   2028       5 1970-01-01 00:00:00.956704519
25      6040   1649       5 1970-01-01 00:00:00.956704519
29      6040    246       5 1970-01-01 00:00:00.956704613
32      6040   1111       5 1970-01-01 00:00:00.956704716
35      6040   1392       5 1970-01-01 00:00:00.956704716
36      6040    562       5 1970-01-01 00:00:00.956704746
42      6040   1537       5 1970-01-01 00:00:00.956704788
48      6040   1094       5 1970-01-01 00:00:00.956704887
57      6040     58       5 1970-01-01 00:00:00.956705033
71      6039   3088       5 1970-01-01 00:00:00.956705281
84      6039   2300       5 1970-01-01 00:00:00.956705395
85      6039   2396       5 1970-01-01 00:00:00.956705395
100     6039   3363       5 1970-01-01 00:00:00.956705545
110     6039   1934       5 1970-01-01 00:00:00.956705636
116     6039   3037       5 1970-01-01 00:00:00.956705679
117     6039    916       5 1970-01-01 00:00:00.956705703
119     6039   1125       5 1970-01-01 00:00:00.956705718
123     6039    260       5 1970-01-01 00:00:00.956705790
...      ...    ...     ...                           ...
799844   795   1234       5 1970-01-01 00:00:00.975755868
799845   795   1259       5 1970-01-01 00:00:00.975755868
799846   795    803       5 1970-01-01 00:00:00.975755903
799853  4277   2407       5 1970-01-01 00:00:00.975759276
799900  4277   3074       5 1970-01-01 00:00:00.975761871
799934  2116   1028       5 1970-01-01 00:00:00.975764128
799939  2116   2005       5 1970-01-01 00:00:00.975764220
799942  2116   2161       5 1970-01-01 00:00:00.975764220
799943  2116   1097       5 1970-01-01 00:00:00.975764220
799945  2116   2174       5 1970-01-01 00:00:00.975764220
799953  2116   1073       5 1970-01-01 00:00:00.975764597
799954  2116    260       5 1970-01-01 00:00:00.975764597
799960  1386   3046       5 1970-01-01 00:00:00.975765321
799964  2116   3078       5 1970-01-01 00:00:00.975765497
799965  1386   1247       5 1970-01-01 00:00:00.975765512
799968  1386    923       5 1970-01-01 00:00:00.975765982
799969  1386   1225       5 1970-01-01 00:00:00.975765982
799970  1386    593       5 1970-01-01 00:00:00.975765982
799971  1386   2997       5 1970-01-01 00:00:00.975766033
799973  1386   1394       5 1970-01-01 00:00:00.975766114
799979  1386   1136       5 1970-01-01 00:00:00.975766348
799980  1386   1080       5 1970-01-01 00:00:00.975766420
799982  1386   1278       5 1970-01-01 00:00:00.975766489
799987  1386   3396       5 1970-01-01 00:00:00.975766597
799990  1875    908       5 1970-01-01 00:00:00.975767239
799991  1875    951       5 1970-01-01 00:00:00.975767239
799992  1875   1282       5 1970-01-01 00:00:00.975767239
799993  1875   1284       5 1970-01-01 00:00:00.975767239
799995  1875   2940       5 1970-01-01 00:00:00.975767255
799999  1875   2948       5 1970-01-01 00:00:00.975767289

[184756 rows x 4 columns]