In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
data = pd.read_csv('data/training.csv')

In [3]:
data.head(2)

   user  movie  rating  timestamp
0  6040    858       4  956703932
1  6040    593       5  956703954

In [4]:
data.describe()

                user          movie         rating     timestamp
count  800000.000000  800000.000000  800000.000000  8.000000e+05
mean     3403.097837    1849.257256       3.590479  9.683921e+08
std      1546.589028    1086.852485       1.120376  5.820931e+06
min       636.000000       1.000000       1.000000  9.567039e+08
25%      2035.000000    1028.000000       3.000000  9.641524e+08
50%      3507.000000    1788.000000       4.000000  9.675878e+08
75%      4695.000000    2750.000000       4.000000  9.746878e+08
max      6040.000000    3952.000000       5.000000  9.757673e+08

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 4 columns):
user         800000 non-null int64
movie        800000 non-null int64
rating       800000 non-null int64
timestamp    800000 non-null int64
dtypes: int64(4)
memory usage: 24.4 MB

In [6]:
data.user.value_counts()

1680    1849
889     1518
4169    1440
4277    1407
3618    1344
1941    1305
1150    1298
5795    1272
4344    1271
4510    1240
4227    1222
3841    1216
4508    1164
3808    1158
5367    1135
3539    1078
5831    1054
2063    1053
3224    1034
3032    1019
5643    1015
4064    1009
2909    1008
4725    1006
5954    1000
4447     982
1285     978
1181     970
1980     963
1880     955
        ...
1256       6
755        6
1715       6
3532       6
1092       6
2775       6
1539       6
973        6
2057       5
750        5
5998       5
5291       5
1463       5
5484       5
918        5
4744       5
4610       5
4467       5
1447       5
827        5
4418       5
1547       5
988        4
1551       4
3459       4
1779       4
4273       3
3288       3
3326       2
3038       2
Name: user, Length: 5399, dtype: int64

In [7]:
data.movie.value_counts()

2858    2901
1196    2516
260     2515
1210    2456
589     2284
2028    2245
480     2232
1270    2183
2571    2172
1580    2156
593     2151
608     2144
1198    2110
110     2081
2762    2024
2396    1995
1197    1947
527     1934
1617    1929
1097    1910
2628    1902
2997    1899
1265    1882
858     1873
318     1845
2716    1834
356     1818
296     1803
1240    1770
1       1749
        ...
1709       1
684        1
3376       1
3377       1
642        1
2742       1
3779       1
641        1
834        1
706        1
3904       1
607        1
3651       1
2308       1
579        1
1852       1
127        1
1630       1
1851       1
1118       1
827        1
3899       1
1724       1
2235       1
2584       1
1134       1
3382       1
3607       1
1558       1
1908       1
Name: movie, Length: 3662, dtype: int64

In [8]:
data.timestamp = pd.to_datetime(data.timestamp)

In [9]:
data.timestamp[2000]

Timestamp('1970-01-01 00:00:00.956731215')

In [10]:
data[data.rating == 5]

        user  movie  rating                     timestamp
1       6040    593       5 1970-01-01 00:00:00.956703954
4       6040   2019       5 1970-01-01 00:00:00.956703977
7       6040   3111       5 1970-01-01 00:00:00.956704056
8       6040    213       5 1970-01-01 00:00:00.956704056
11      6040    912       5 1970-01-01 00:00:00.956704191
12      6040    919       5 1970-01-01 00:00:00.956704191
13      6040   2503       5 1970-01-01 00:00:00.956704191
14      6040    527       5 1970-01-01 00:00:00.956704219
16      6040   1252       5 1970-01-01 00:00:00.956704257
17      6040    649       5 1970-01-01 00:00:00.956704257
18      6040   3289       5 1970-01-01 00:00:00.956704305
19      6040    759       5 1970-01-01 00:00:00.956704448
23      6040   2028       5 1970-01-01 00:00:00.956704519
25      6040   1649       5 1970-01-01 00:00:00.956704519
29      6040    246       5 1970-01-01 00:00:00.956704613
32      6040   1111       5 1970-01-01 00:00:00.956704716
35      6040   1392       5 1970-01-01 00:00:00.956704716
36      6040    562       5 1970-01-01 00:00:00.956704746
42      6040   1537       5 1970-01-01 00:00:00.956704788
48      6040   1094       5 1970-01-01 00:00:00.956704887
57      6040     58       5 1970-01-01 00:00:00.956705033
71      6039   3088       5 1970-01-01 00:00:00.956705281
84      6039   2300       5 1970-01-01 00:00:00.956705395
85      6039   2396       5 1970-01-01 00:00:00.956705395
100     6039   3363       5 1970-01-01 00:00:00.956705545
110     6039   1934       5 1970-01-01 00:00:00.956705636
116     6039   3037       5 1970-01-01 00:00:00.956705679
117     6039    916       5 1970-01-01 00:00:00.956705703
119     6039   1125       5 1970-01-01 00:00:00.956705718
123     6039    260       5 1970-01-01 00:00:00.956705790
...      ...    ...     ...                           ...
799844   795   1234       5 1970-01-01 00:00:00.975755868
799845   795   1259       5 1970-01-01 00:00:00.975755868
799846   795    803       5 1970-01-01 00:00:00.975755903
799853  4277   2407       5 1970-01-01 00:00:00.975759276
799900  4277   3074       5 1970-01-01 00:00:00.975761871
799934  2116   1028       5 1970-01-01 00:00:00.975764128
799939  2116   2005       5 1970-01-01 00:00:00.975764220
799942  2116   2161       5 1970-01-01 00:00:00.975764220
799943  2116   1097       5 1970-01-01 00:00:00.975764220
799945  2116   2174       5 1970-01-01 00:00:00.975764220
799953  2116   1073       5 1970-01-01 00:00:00.975764597
799954  2116    260       5 1970-01-01 00:00:00.975764597
799960  1386   3046       5 1970-01-01 00:00:00.975765321
799964  2116   3078       5 1970-01-01 00:00:00.975765497
799965  1386   1247       5 1970-01-01 00:00:00.975765512
799968  1386    923       5 1970-01-01 00:00:00.975765982
799969  1386   1225       5 1970-01-01 00:00:00.975765982
799970  1386    593       5 1970-01-01 00:00:00.975765982
799971  1386   2997       5 1970-01-01 00:00:00.975766033
799973  1386   1394       5 1970-01-01 00:00:00.975766114
799979  1386   1136       5 1970-01-01 00:00:00.975766348
799980  1386   1080       5 1970-01-01 00:00:00.975766420
799982  1386   1278       5 1970-01-01 00:00:00.975766489
799987  1386   3396       5 1970-01-01 00:00:00.975766597
799990  1875    908       5 1970-01-01 00:00:00.975767239
799991  1875    951       5 1970-01-01 00:00:00.975767239
799992  1875   1282       5 1970-01-01 00:00:00.975767239
799993  1875   1284       5 1970-01-01 00:00:00.975767239
799995  1875   2940       5 1970-01-01 00:00:00.975767255
799999  1875   2948       5 1970-01-01 00:00:00.975767289

[184756 rows x 4 columns]

In [11]:
data[data.rating == 4]

        user  movie  rating                     timestamp
0       6040    858       4 1970-01-01 00:00:00.956703932
2       6040   2384       4 1970-01-01 00:00:00.956703954
3       6040   1961       4 1970-01-01 00:00:00.956703977
6       6040    573       4 1970-01-01 00:00:00.956704056
9       6040   3505       4 1970-01-01 00:00:00.956704056
15      6040    318       4 1970-01-01 00:00:00.956704257
20      6040   2858       4 1970-01-01 00:00:00.956704475
21      6040    608       4 1970-01-01 00:00:00.956704475
24      6040    326       4 1970-01-01 00:00:00.956704519
27      6040     34       4 1970-01-01 00:00:00.956704584
28      6040   2762       4 1970-01-01 00:00:00.956704584
30      6040   2692       4 1970-01-01 00:00:00.956704656
31      6040   1617       4 1970-01-01 00:00:00.956704673
37      6040    549       4 1970-01-01 00:00:00.956704746
38      6040    448       4 1970-01-01 00:00:00.956704788
39      6040    866       4 1970-01-01 00:00:00.956704788
45      6040    446       4 1970-01-01 00:00:00.956704854
50      6040     50       4 1970-01-01 00:00:00.956704911
52      6040    162       4 1970-01-01 00:00:00.956704953
54      6040    508       4 1970-01-01 00:00:00.956704972
55      6040   1089       4 1970-01-01 00:00:00.956704996
56      6040    589       4 1970-01-01 00:00:00.956704996
58      6040   2580       4 1970-01-01 00:00:00.956705056
60      6040   1834       4 1970-01-01 00:00:00.956705073
61      6040   2391       4 1970-01-01 00:00:00.956705112
62      6039    111       4 1970-01-01 00:00:00.956705158
63      6039    282       4 1970-01-01 00:00:00.956705158
64      6040    290       4 1970-01-01 00:00:00.956705162
65      6039   2067       4 1970-01-01 00:00:00.956705178
67      6040   1641       4 1970-01-01 00:00:00.956705185
...      ...    ...     ...                           ...
799925   796   1085       4 1970-01-01 00:00:00.975763311
799926   796    969       4 1970-01-01 00:00:00.975763311
799931   796    590       4 1970-01-01 00:00:00.975763379
799935  2116   2015       4 1970-01-01 00:00:00.975764163
799937  2116   1018       4 1970-01-01 00:00:00.975764163
799938  2116   1010       4 1970-01-01 00:00:00.975764163
799940  2116   2193       4 1970-01-01 00:00:00.975764220
799941  2116   3479       4 1970-01-01 00:00:00.975764220
799946  2116   2054       4 1970-01-01 00:00:00.975764389
799947  2116   2399       4 1970-01-01 00:00:00.975764389
799948  2116   2797       4 1970-01-01 00:00:00.975764389
799951  2116   3440       4 1970-01-01 00:00:00.975764428
799956  2116   2029       4 1970-01-01 00:00:00.975764858
799957  2116    216       4 1970-01-01 00:00:00.975764858
799962  1386   1230       4 1970-01-01 00:00:00.975765486
799963  2116   1485       4 1970-01-01 00:00:00.975765496
799967  1386   1276       4 1970-01-01 00:00:00.975765622
799972  1386   3504       4 1970-01-01 00:00:00.975766078
799975  1386   1199       4 1970-01-01 00:00:00.975766166
799976  1386   1266       4 1970-01-01 00:00:00.975766214
799977  1386   1294       4 1970-01-01 00:00:00.975766214
799981  1386     36       4 1970-01-01 00:00:00.975766437
799983  1386   3168       4 1970-01-01 00:00:00.975766489
799984  1386   2291       4 1970-01-01 00:00:00.975766529
799985  1386   1259       4 1970-01-01 00:00:00.975766572
799986  1386   1673       4 1970-01-01 00:00:00.975766597
799988  1386   3296       4 1970-01-01 00:00:00.975766641
799989  1386   3469       4 1970-01-01 00:00:00.975766662
799996  1875    589       4 1970-01-01 00:00:00.975767289
799997  1875    110       4 1970-01-01 00:00:00.975767289

[278151 rows x 4 columns]

In [12]:
data[data.rating == 3]

        user  movie  rating                     timestamp
5       6040   1419       3 1970-01-01 00:00:00.956704056
22      6040   2396       3 1970-01-01 00:00:00.956704475
26      6040     17       3 1970-01-01 00:00:00.956704584
33      6040    150       3 1970-01-01 00:00:00.956704716
41      6040    265       3 1970-01-01 00:00:00.956704788
43      6040   1358       3 1970-01-01 00:00:00.956704829
44      6040   2324       3 1970-01-01 00:00:00.956704829
49      6040   1704       3 1970-01-01 00:00:00.956704887
51      6040     45       3 1970-01-01 00:00:00.956704953
59      6040   1694       3 1970-01-01 00:00:00.956705056
66      6040    357       3 1970-01-01 00:00:00.956705185
69      6039   1230       3 1970-01-01 00:00:00.956705202
70      6039   3133       3 1970-01-01 00:00:00.956705281
73      6039    947       3 1970-01-01 00:00:00.956705281
74      6039   1294       3 1970-01-01 00:00:00.956705300
76      6039   1269       3 1970-01-01 00:00:00.956705323
78      6039   2622       3 1970-01-01 00:00:00.956705351
88      6039   2863       3 1970-01-01 00:00:00.956705416
92      6039   3072       3 1970-01-01 00:00:00.956705470
93      6039   1066       3 1970-01-01 00:00:00.956705470
99      6039    935       3 1970-01-01 00:00:00.956705508
101     6039   1014       3 1970-01-01 00:00:00.956705545
105     6039    909       3 1970-01-01 00:00:00.956705564
106     6039   1265       3 1970-01-01 00:00:00.956705564
109     6039   2174       3 1970-01-01 00:00:00.956705636
115     6039    471       3 1970-01-01 00:00:00.956705679
121     6039   3028       3 1970-01-01 00:00:00.956705749
129     6039   2565       3 1970-01-01 00:00:00.956705872
131     6039   2087       3 1970-01-01 00:00:00.956705872
134     6039    900       3 1970-01-01 00:00:00.956705907
...      ...    ...     ...                           ...
799896  4277   2752       3 1970-01-01 00:00:00.975761757
799899  4277   1484       3 1970-01-01 00:00:00.975761757
799901  4277   2478       3 1970-01-01 00:00:00.975761942
799902  4277    210       3 1970-01-01 00:00:00.975761942
799904  4277   2016       3 1970-01-01 00:00:00.975761942
799907  4277   2737       3 1970-01-01 00:00:00.975762123
799910  4277     71       3 1970-01-01 00:00:00.975762301
799911  4277    227       3 1970-01-01 00:00:00.975762397
799912  4277   2421       3 1970-01-01 00:00:00.975762465
799913  4277    886       3 1970-01-01 00:00:00.975762602
799915  4277   2756       3 1970-01-01 00:00:00.975762709
799917  4277    694       3 1970-01-01 00:00:00.975762782
799918  4277   3442       3 1970-01-01 00:00:00.975762782
799921   796   3754       3 1970-01-01 00:00:00.975763148
799924   796   2916       3 1970-01-01 00:00:00.975763311
799932   796   3494       3 1970-01-01 00:00:00.975763408
799933  2116   3507       3 1970-01-01 00:00:00.975764128
799936  2116   1014       3 1970-01-01 00:00:00.975764163
799944  2116   2100       3 1970-01-01 00:00:00.975764220
799949  2116   3466       3 1970-01-01 00:00:00.975764428
799950  2116   2253       3 1970-01-01 00:00:00.975764428
799952  2116    258       3 1970-01-01 00:00:00.975764443
799955  2116   1009       3 1970-01-01 00:00:00.975764597
799959  2116    786       3 1970-01-01 00:00:00.975765208
799961  1386    919       3 1970-01-01 00:00:00.975765460
799966  1386   1198       3 1970-01-01 00:00:00.975765601
799974  1386   1196       3 1970-01-01 00:00:00.975766142
799978  1386    260       3 1970-01-01 00:00:00.975766327
799994  1875   1259       3 1970-01-01 00:00:00.975767255
799998  1875   2791       3 1970-01-01 00:00:00.975767289

[207148 rows x 4 columns]

In [13]:
data[data.rating == 2]

        user  movie  rating                     timestamp
10      6040   1734       2 1970-01-01 00:00:00.956704081
34      6040    300       2 1970-01-01 00:00:00.956704716
40      6040   1554       2 1970-01-01 00:00:00.956704788
46      6040    247       2 1970-01-01 00:00:00.956704854
47      6040    235       2 1970-01-01 00:00:00.956704854
53      6040    348       2 1970-01-01 00:00:00.956704972
77      6039   3421       2 1970-01-01 00:00:00.956705323
81      6039   1244       2 1970-01-01 00:00:00.956705351
97      6039   2671       2 1970-01-01 00:00:00.956705508
158     6039    783       2 1970-01-01 00:00:00.956706051
187     6038   1387       2 1970-01-01 00:00:00.956707005
201     6037    702       2 1970-01-01 00:00:00.956708997
226     6036   2376       2 1970-01-01 00:00:00.956709350
227     6036   2428       2 1970-01-01 00:00:00.956709350
228     6036   3438       2 1970-01-01 00:00:00.956709350
238     6036   2572       2 1970-01-01 00:00:00.956709453
240     6036   2699       2 1970-01-01 00:00:00.956709453
241     6036   2706       2 1970-01-01 00:00:00.956709453
242     6036   2707       2 1970-01-01 00:00:00.956709453
244     6036   2827       2 1970-01-01 00:00:00.956709453
256     6036   2770       2 1970-01-01 00:00:00.956709526
258     6036   2975       2 1970-01-01 00:00:00.956709526
260     6036   3005       2 1970-01-01 00:00:00.956709526
261     6036   2842       2 1970-01-01 00:00:00.956709526
264     6037   3270       2 1970-01-01 00:00:00.956709534
267     6036   2147       2 1970-01-01 00:00:00.956709578
277     6037   2890       2 1970-01-01 00:00:00.956709629
284     6036   2772       2 1970-01-01 00:00:00.956709631
285     6036   2546       2 1970-01-01 00:00:00.956709631
290     6036   2881       2 1970-01-01 00:00:00.956709631
...      ...    ...     ...                           ...
799696  2063   3844       2 1970-01-01 00:00:00.975744382
799698  2063   2942       2 1970-01-01 00:00:00.975744442
799708  2063   2513       2 1970-01-01 00:00:00.975744626
799711  2063   3017       2 1970-01-01 00:00:00.975744660
799713  2063   2668       2 1970-01-01 00:00:00.975744699
799717  2063   2121       2 1970-01-01 00:00:00.975744699
799719  2063   2900       2 1970-01-01 00:00:00.975744717
799720  2063   1975       2 1970-01-01 00:00:00.975744717
799723  2063   3840       2 1970-01-01 00:00:00.975744804
799727  2063   2311       2 1970-01-01 00:00:00.975744899
799730  2063   2364       2 1970-01-01 00:00:00.975744997
799732  2063   2551       2 1970-01-01 00:00:00.975745050
799733  2063   3101       2 1970-01-01 00:00:00.975745050
799747   796   2700       2 1970-01-01 00:00:00.975748444
799761   636   2288       2 1970-01-01 00:00:00.975752146
799778   636   2451       2 1970-01-01 00:00:00.975752349
799779   636   2456       2 1970-01-01 00:00:00.975752349
799791   636   1274       2 1970-01-01 00:00:00.975752617
799838   795   1414       2 1970-01-01 00:00:00.975755713
799843   795   2890       2 1970-01-01 00:00:00.975755868
799871  4277   1924       2 1970-01-01 00:00:00.975759653
799877  4277   2701       2 1970-01-01 00:00:00.975760059
799878  4277   2450       2 1970-01-01 00:00:00.975760059
799879  4277    692       2 1970-01-01 00:00:00.975760059
799903  4277    416       2 1970-01-01 00:00:00.975761942
799916  4277   3781       2 1970-01-01 00:00:00.975762709
799927   796    952       2 1970-01-01 00:00:00.975763311
799928   796   1275       2 1970-01-01 00:00:00.975763348
799929   796   2077       2 1970-01-01 00:00:00.975763348
799930   796   3699       2 1970-01-01 00:00:00.975763348

[84610 rows x 4 columns]

In [14]:
data[data.rating == 1]

        user  movie  rating                     timestamp
198     6037   1882       1 1970-01-01 00:00:00.956708997
243     6036   2826       1 1970-01-01 00:00:00.956709453
246     6036   2492       1 1970-01-01 00:00:00.956709453
253     6036   3285       1 1970-01-01 00:00:00.956709526
254     6036   2694       1 1970-01-01 00:00:00.956709526
257     6036   2555       1 1970-01-01 00:00:00.956709526
282     6036   1911       1 1970-01-01 00:00:00.956709631
288     6036   2722       1 1970-01-01 00:00:00.956709631
295     6036   3113       1 1970-01-01 00:00:00.956709679
316     6036    407       1 1970-01-01 00:00:00.956709818
317     6036   2676       1 1970-01-01 00:00:00.956709818
319     6036   2719       1 1970-01-01 00:00:00.956709818
322     6036   2995       1 1970-01-01 00:00:00.956709818
329     6036   2392       1 1970-01-01 00:00:00.956709885
330     6036   2713       1 1970-01-01 00:00:00.956709885
332     6036    785       1 1970-01-01 00:00:00.956709885
333     6036   2882       1 1970-01-01 00:00:00.956709885
339     6036   3354       1 1970-01-01 00:00:00.956709933
342     6036   3053       1 1970-01-01 00:00:00.956709933
353     6036   3325       1 1970-01-01 00:00:00.956710006
359     6036   2574       1 1970-01-01 00:00:00.956710006
368     6036   2906       1 1970-01-01 00:00:00.956710067
382     6036   2840       1 1970-01-01 00:00:00.956710191
389     6036   2715       1 1970-01-01 00:00:00.956710231
393     6036   2672       1 1970-01-01 00:00:00.956710231
395     6036   2701       1 1970-01-01 00:00:00.956710274
414     6036   3149       1 1970-01-01 00:00:00.956710521
451     6035     25       1 1970-01-01 00:00:00.956710846
452     6035    898       1 1970-01-01 00:00:00.956710846
464     6036   2677       1 1970-01-01 00:00:00.956710907
...      ...    ...     ...                           ...
799094  1943   3439       1 1970-01-01 00:00:00.975737966
799104  1943   1681       1 1970-01-01 00:00:00.975738054
799106  1943    880       1 1970-01-01 00:00:00.975738054
799123  1943   2265       1 1970-01-01 00:00:00.975738127
799124  1943   1556       1 1970-01-01 00:00:00.975738127
799140   692    193       1 1970-01-01 00:00:00.975738184
799151   692    196       1 1970-01-01 00:00:00.975738221
799156   692    160       1 1970-01-01 00:00:00.975738280
799158   692    662       1 1970-01-01 00:00:00.975738297
799167  1943   3437       1 1970-01-01 00:00:00.975738304
799171   692    288       1 1970-01-01 00:00:00.975738325
799350   656    296       1 1970-01-01 00:00:00.975739770
799531  2063   2421       1 1970-01-01 00:00:00.975743152
799534  2063   3710       1 1970-01-01 00:00:00.975743175
799558  2063   2449       1 1970-01-01 00:00:00.975743341
799578  2063   2064       1 1970-01-01 00:00:00.975743516
799584  2063   2926       1 1970-01-01 00:00:00.975743541
799596  2063   2797       1 1970-01-01 00:00:00.975743622
799611  2063   2150       1 1970-01-01 00:00:00.975743674
799639  2063   3694       1 1970-01-01 00:00:00.975743826
799645  2063   2151       1 1970-01-01 00:00:00.975743850
799649  2063   3392       1 1970-01-01 00:00:00.975743879
799650  2063   3667       1 1970-01-01 00:00:00.975743879
799654  2063   3690       1 1970-01-01 00:00:00.975743910
799662  2063   3041       1 1970-01-01 00:00:00.975743910
799688  2063   2739       1 1970-01-01 00:00:00.975744290
799718  2063   3459       1 1970-01-01 00:00:00.975744717
799724  2063   1984       1 1970-01-01 00:00:00.975744824
799883  2673   3929       1 1970-01-01 00:00:00.975760385
799958  2116   3743       1 1970-01-01 00:00:00.975764900

[45335 rows x 4 columns]

In [15]:
data[data.rating >3].user.value_counts()

4277    1209
1680    1108
4169     888
3032     861
3539     819
5831     748
3224     730
4448     708
3292     707
2909     691
4344     678
1285     669
5100     646
3391     634
5795     594
1835     589
3272     579
2507     574
5511     569
2304     563
4482     562
2793     559
3163     550
3841     539
5614     536
1015     535
3705     535
1941     524
3029     519
5046     511
        ...
1256       4
4610       3
1715       3
738        3
3152       3
2669       3
827        3
1551       3
4273       3
874        3
2598       3
5991       3
2991       3
1092       3
5132       3
1447       3
3326       2
4349       2
2775       2
5998       2
4636       2
973        2
4744       2
1547       1
1779       1
3038       1
3288       1
988        1
5850       1
918        1
Name: user, Length: 5395, dtype: int64

In [16]:
data[data.rating >2].user.value_counts()

1680    1515
4277    1389
4169    1292
3618    1146
3539    1029
3032    1003
5831     991
3841     976
4344     973
3224     959
1941     949
889      943
4725     936
2909     911
3292     897
1285     875
4808     868
2304     834
4448     834
3272     832
4425     815
3391     801
1880     797
4508     796
1980     792
5795     792
3808     786
5643     778
5100     768
1181     753
        ...
4744       5
5484       5
750        5
4418       5
1463       5
2775       5
2991       5
1256       4
2057       4
3459       4
5991       4
3152       4
5291       4
1551       4
1092       4
5761       4
738        4
973        3
827        3
4273       3
1547       3
988        3
5998       3
1779       3
3288       2
3326       2
4486       1
918        1
4467       1
3038       1
Name: user, Length: 5398, dtype: int64

In [17]:
data[data.rating >4].user.value_counts()

4277    527
3032    466
4169    425
5100    417
1680    406
4448    377
1835    367
2909    360
2124    357
3539    353
3391    351
1285    322
2507    319
5795    312
5954    301
3292    296
5511    278
2793    273
5504    270
1741    269
4028    257
4904    256
4354    250
1333    247
5614    244
1586    241
3029    235
4411    234
3834    231
1224    226
       ...
1945      1
1431      1
4073      1
3869      1
3459      1
4184      1
4926      1
4284      1
3354      1
4547      1
3264      1
1252      1
5370      1
5828      1
5998      1
2450      1
1187      1
2111      1
4804      1
3893      1
3124      1
1779      1
5411      1
2964      1
4059      1
5155      1
4628      1
1766      1
5012      1
2524      1
Name: user, Length: 5358, dtype: int64

In [18]:
data[data.rating >4].movie.value_counts()

2858    1674
260     1532
1198    1267
858     1243
1196    1240
527     1227
318     1218
2571    1208
2028    1176
2762    1159
593     1137
608     1102
110     1039
296     1004
1197     997
50       943
2997     876
1210     875
1617     842
2396     831
912      826
589      819
1221     793
1193     788
541      780
356      777
1214     742
1240     707
1213     697
919      692
        ...
1811       1
2255       1
2835       1
981        1
853        1
2386       1
3216       1
3923       1
1553       1
1746       1
3664       1
1105       1
2896       1
209        1
2128       1
3665       1
974        1
3025       1
2897       1
3603       1
336        1
2257       1
2129       1
1871       1
2766       1
2638       1
463        1
1998       1
1486       1
2047       1
Name: movie, Length: 3164, dtype: int64

In [19]:
data[data.rating >3].movie.value_counts()

2858    2422
260     2203
1196    2111
2028    1906
1198    1893
593     1885
2571    1823
1210    1803
2762    1788
608     1775
589     1773
527     1736
318     1698
110     1684
858     1670
1197    1616
1270    1602
1617    1584
2396    1572
2997    1505
296     1479
480     1433
1240    1422
1       1395
1580    1384
1214    1380
356     1377
1097    1370
1265    1368
457     1352
        ...
1886       1
470        1
2887       1
2544       1
815        1
3164       1
3126       1
3292       1
1561       1
1632       1
3818       1
734        1
3940       1
3172       1
792        1
749        1
3906       1
2251       1
2955       1
3353       1
2543       1
2825       1
139        1
3084       1
2783       1
712        1
200        1
793        1
1890       1
1494       1
Name: movie, Length: 3469, dtype: int64

In [20]:
data[data.rating >2].movie.value_counts()

2858    2724
260     2446
1196    2428
1210    2312
589     2165
2028    2165
593     2085
1270    2082
1198    2074
2571    2032
608     2019
480     2015
110     1971
2762    1961
1580    1952
527     1893
1197    1889
1617    1864
2396    1858
858     1820
318     1815
1097    1765
1265    1756
2997    1754
2716    1724
1240    1703
296     1684
1       1682
356     1673
1214    1620
        ...
572        1
2909       1
3530       1
712        1
120        1
1555       1
1102       1
3522       1
2631       1
310        1
1915       1
1471       1
1470       1
3380       1
1842       1
1071       1
1830       1
821        1
3607       1
2486       1
3472       1
1843       1
3085       1
1145       1
1659       1
1891       1
868        1
789        1
3890       1
889        1
Name: movie, Length: 3570, dtype: int64