In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [6]:
data = pd.read_csv('data/training.csv')

In [8]:
data.head(2)

   user  movie  rating  timestamp
0  6040    858       4  956703932
1  6040    593       5  956703954

In [9]:
data.describe()

                user          movie         rating     timestamp
count  800000.000000  800000.000000  800000.000000  8.000000e+05
mean     3403.097837    1849.257256       3.590479  9.683921e+08
std      1546.589028    1086.852485       1.120376  5.820931e+06
min       636.000000       1.000000       1.000000  9.567039e+08
25%      2035.000000    1028.000000       3.000000  9.641524e+08
50%      3507.000000    1788.000000       4.000000  9.675878e+08
75%      4695.000000    2750.000000       4.000000  9.746878e+08
max      6040.000000    3952.000000       5.000000  9.757673e+08

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 4 columns):
user         800000 non-null int64
movie        800000 non-null int64
rating       800000 non-null int64
timestamp    800000 non-null int64
dtypes: int64(4)
memory usage: 24.4 MB

In [13]:
data.user.value_counts()

1680    1849
889     1518
4169    1440
4277    1407
3618    1344
1941    1305
1150    1298
5795    1272
4344    1271
4510    1240
4227    1222
3841    1216
4508    1164
3808    1158
5367    1135
3539    1078
5831    1054
2063    1053
3224    1034
3032    1019
5643    1015
4064    1009
2909    1008
4725    1006
5954    1000
4447     982
1285     978
1181     970
1980     963
1880     955
        ...
1256       6
755        6
1715       6
3532       6
1092       6
2775       6
1539       6
973        6
2057       5
750        5
5998       5
5291       5
1463       5
5484       5
918        5
4744       5
4610       5
4467       5
1447       5
827        5
4418       5
1547       5
988        4
1551       4
3459       4
1779       4
4273       3
3288       3
3326       2
3038       2
Name: user, Length: 5399, dtype: int64

In [14]:
data.movie.value_counts()

2858    2901
1196    2516
260     2515
1210    2456
589     2284
2028    2245
480     2232
1270    2183
2571    2172
1580    2156
593     2151
608     2144
1198    2110
110     2081
2762    2024
2396    1995
1197    1947
527     1934
1617    1929
1097    1910
2628    1902
2997    1899
1265    1882
858     1873
318     1845
2716    1834
356     1818
296     1803
1240    1770
1       1749
        ...
1709       1
684        1
3376       1
3377       1
642        1
2742       1
3779       1
641        1
834        1
706        1
3904       1
607        1
3651       1
2308       1
579        1
1852       1
127        1
1630       1
1851       1
1118       1
827        1
3899       1
1724       1
2235       1
2584       1
1134       1
3382       1
3607       1
1558       1
1908       1
Name: movie, Length: 3662, dtype: int64

In [17]:
data.timestamp = pd.to_datetime(data.timestamp)

In [20]:
data.timestamp[2000]

Timestamp('1970-01-01 00:00:00.956731215')